*{
    margin: 0;
    padding: 0;
}

.sidebar{
  width: 20vw;
  height: 100vh;
  border: 2px solid #FC1055;  
  border-radius: 12px;
}

.sidebar p{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    margin-top: 20px;
}

ul li{
    list-style-type: none;
    padding: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: aliceblue;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar i{
    color: #FC1055;
    padding-right: 15px;
}

/* Specific Styling for User Profile Section */
.user-profile {
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 10px; /* Space between image and text */
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding if needed */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
  }
  
  .user-image {
    width: 70px; /* Adjust size as needed */
    height: 70px;
    border-radius: 50%; /* Circular image */
    object-fit: cover; /* Cover the image area */
  }
  
  .fa-user {
    font-size: 40px; /* Size of the default icon if no image */
    color: #555; /* Icon color */
  }
  
