<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h3>Change Profile</h3>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" id="fname" formControlName="fname">
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" id="lname" formControlName="lname">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" id="phone" formControlName="phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="profile">Profile Image URL</label>
    <input type="text" id="profile" formControlName="profile">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword">
  </div>
  <button class="btn" type="submit">Update Details</button>
  
</form>
