
main {
    padding: 20px;
  }
  
  h1 {
    color: #FC1055;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  form h3{
    color: #01032D;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group input:focus {
    border-color: #FC1055;
    outline: none;
    box-shadow: 0 0 5px rgba(252, 16, 85, 0.5);
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #FC1055;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #e60947;
  }
  
 /* Success Message Styles */
.alert-success {
  padding: 15px;
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
  border: 1px solid #c3e6cb; /* Light green border */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Space below the message */
  font-size: 16px; /* Font size */
  font-weight: 500; /* Slightly bold text */
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Center items vertically */
}

.alert-success::before {
  content: "✓"; /* Success checkmark icon */
  font-size: 20px; 
  font-weight: bold;/* Size of the icon */
  margin-right: 10px; /* Space between icon and text */
  color: #155724; /* Icon color */
}

.alert-success.hide {
  display: none; /* Hide the message when not needed */
}
