<div class="user-container">
    <h1>All Users</h1>
    <div class="user-lists">
        <div class="user-list">
            <h2>Featured Events</h2>
            <ul>
                <li>
                    <img src="https://i.pinimg.com/474x/81/16/ee/8116ee18cd53e122b7d5c8a6a1d87c15.jpg" alt="Manager Image">
                    <p>Event Manager: John Doe</p>
                    <div class="details">
                        <span>Event: Music Concert</span>
                    <span>Location: Uhuru Park</span>
                    <span>Date: 20th July 2024</span>
                    </div>
                </li>
                <li>
                    <img src="https://i.pinimg.com/474x/50/d8/9c/50d89c953f9876dad84e25d3ea9b40be.jpg" alt="Manager Image">
                    <p>Event Manager: Janet Doe</p>
                    <div class="details">
                        <span>Event: Cinema</span>
                    <span>Location: Nyali Cinemax</span>
                    <span>Date: 20th July 2024</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-list">
            <h2>Attendees</h2>
            <ul>
                <li>
                    <img src="https://i.pinimg.com/474x/e8/7d/20/e87d209fe5c9a32d0e75fdc4e4f0d172.jpg" alt="Attendee Image">
                    <p>Jane Smith</p>
                    <div class="details">
                        <span>Event: Music Concert</span>
                    <span>Email: jane&#64;example.com</span>
                    <span>Phone Number: 12345678</span>
                    </div>
                </li>
                <li>
                    <img src="https://i.pinimg.com/474x/7a/8d/b4/7a8db4c2a7d5ae825635f4fa0dddfea8.jpg" alt="Attendee Image">
                    <p>Emily White</p>
                    <div class="details">
                        <span>Event: Music Concert</span>
                    <span>Email: emily&#64;example.com</span>
                    <span>Phone Number: 1876542</span>
                    </div>
                </li>
                <li>
                    <img src="https://i.pinimg.com/474x/c0/55/70/c055708b33d935f39851072ccb3ef28d.jpg" alt="Attendee Image">
                    <p>Michael Brown</p>
                    <div class="details">
                        <span>Event: Cinema</span>
                    <span>Email: mike&#64;example.com</span>
                    <span>Phone Number: 14567988</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

