<app-navbar></app-navbar>
<div class="hero-container">
    <div class="text">
        <h1>Welcome to Plana</h1>
        <p>Experience the magic of unforgettable events with Plana! Your perfect event, just a click away.</p>
        <p>Join us and discover exclusive events, tailored just for you. Book now and make memories that last a lifetime.</p>
        <a href="/login" class="cta-button">Book Now</a>
    </div>
    <div class="image">
        <img src="https://i.pinimg.com/474x/0f/d5/4c/0fd54cf6ce41c4fba51e1a33a052f8e3.jpg" alt="event-image">
    </div>
</div>
<div class="events-container">
    <div class="joker-text">
        <img src="https://i.pinimg.com/474x/67/11/04/67110414b475eb5a48e3566ea893ebd3.jpg">
        <p>WHO'S COMING TO TOWN?</p>
    </div>
    <div class="upcoming-events">
        <table>
            <h1>Upcoming Events</h1>
            <br>
            <tr *ngFor="let event of events">
                <td style="display: flex; justify-content: center; padding: 5px 0px;"><img [src]="event.image" alt="Event Image"></td>
                <td> <span class="event-name">{{ event.eventName }}</span><br><br>{{ event.location }}<br>{{ event.eventDate | date: 'longDate' }}</td>
                <td><a href="/login"><button>Get Tickets</button></a></td>
            </tr>
        </table>
    </div>
</div>
<div class="about-container">
    <table>
        <h1>Opening Hours</h1>
        <tr>
            <th>Day</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Mon</td>
            <td>8.00am-5.00pm</td>
        </tr>
        <tr>
            <td>Tue</td>
            <td>8.00am-5.00pm</td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>8.00am-5.00pm</td>
        </tr>
        <tr>
            <td>Thur</td>
            <td>8.00am-5.00pm</td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>8.00am-4.00pm</td>
        </tr>
        <tr>
            <td>Sat</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Sun</td>
            <td>Closed</td>
        </tr>
    </table>
    <div class="team">
        <h1>The Team</h1>
        <p>
            <i class="fa-solid fa-quote-left"></i><br>Behind every unforgettable event, there's a dedicated team of professionals working tirelessly to ensure every detail is perfect. 
            Trust us to turn your vision into reality and create memories that will last a lifetime!<br><i style="margin-left: 900px;" class="fa-solid fa-quote-right"></i>
        </p>
        <p>⭐⭐⭐⭐⭐</p>
        <div class="profiles">
            <img src="https://i.pinimg.com/474x/39/92/db/3992db3db9d4eeac0c0f24ebb1c1d3b2.jpg" alt="profile">
            <img src="https://i.pinimg.com/736x/a1/89/dc/a189dcc2800e6a0f04002d84996b45c1.jpg" alt="profile">
            <img src="https://i.pinimg.com/474x/e1/89/36/e18936342b0284397741376cf0330c85.jpg" alt="profile">
            <img src="https://i.pinimg.com/474x/e4/c1/95/e4c195e69922a5b200fb8d9a95525997.jpg" alt="profile">
        </div>
    </div>
</div>
<div class="contact-container">
    <h1 style="display: flex; justify-content: center; align-self: center;">Get In Touch With Us</h1>
    <div class="contact-details">
        <p><i class="fa-solid fa-location-dot"></i>Chuka, Ndagani.</p>
        <p><i class="fa-solid fa-phone-volume"></i>0111997539</p>
        <p><i class="fa-brands fa-whatsapp"></i>0113959927</p>
        <p><i class="fa-solid fa-envelope"></i>carolmartoz763&#64;gmail.com</p>
    </div>
    <div class="socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p style="display: flex; justify-content: center; align-self: center;">Created by CJS Arts | All Rights Reserved</p>
</div>
