<main>
    <h1>All Bookings</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>All Bookings</th>
            <th>Ticket Status</th>
            <th>Revenue Generated</th>
            <th>Event Manager</th>
        </tr>
        <tr>
            <td>Music Concert</td>
            <td>Uhuru Park</td>
            <td>20th July 2024</td>
            <td>128</td>
            <td>Sold Out</td>
            <td>$1200</td>
            <td>John Doe</td>
        </tr>
        <tr>
            <td>Cinema</td>
            <td>Nyali Cinemax</td>
            <td>20th July 2024</td>
            <td>127</td>
            <td>3 Remaining</td>
            <td>$1500</td>
            <td>Janet Doe</td>
        </tr>
    </table>
    
</main>