<main>
  <input type="search" placeholder="Search" (input)="onSearch($event)">

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  
  <h1>Categories</h1>
  <div class="categories">
    <div class="category-box">
      <i class="fa-solid fa-champagne-glasses"></i>
      <p>Party</p>
    </div>
    <div class="category-box">
      <i class="fa-solid fa-microphone"></i>
      <p>Podcast</p>
    </div>
    <div class="category-box">
      <i class="fa-solid fa-palette"></i>
      <p>Arts & Art Gallery</p>
    </div>
    <div class="category-box">
      <i class="fa-solid fa-trophy"></i>
      <p>Competitions</p>
    </div>
    <div class="category-box">
      <i class="fa-solid fa-clapperboard"></i>
      <p>Cinema</p>
    </div>
    <div class="category-box">
      <i class="fa-solid fa-music"></i>
      <p>Music Concerts</p>
    </div>
  </div>
  <div class="all-events">
    <h1>All Events</h1>
    <div class="events-list">
      <div *ngFor="let event of filteredEvents" class="event-card">
        <img [src]="event.image || 'default-image-url.jpg'" alt="Event Image" class="event-image">
        <div class="event-details">
          <h3>{{ event.eventName }}</h3>
          <p>Date: {{ event.eventDate | date:'fullDate' }}</p>
          <p>Time: {{ event.eventTime }}</p>
          <p>Location: {{ event.location }}</p>
          <p>Description: {{ event.description }}</p>
          <button (click)="openForm(event)">Get Tickets</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="bookingForm" class="form-popup" *ngIf="selectedEvent">
    <form class="form-container" (ngSubmit)="onSubmit()">
      <h2>Book Tickets</h2>
      <label for="title"><b>Event Name</b></label>
      <input type="text" placeholder="Enter Event Name" name="title" [value]="selectedEvent.eventName" readonly required>
      
      <label for="location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location" name="location" [value]="selectedEvent.location" readonly required>
      
      <label for="date"><b>Date</b></label>
      <input type="text" placeholder="Enter Date" name="date" [value]="selectedEvent.eventDate | date:'fullDate'" readonly required>
      
      <label for="type"><b>Ticket Type</b></label>
      <select name="type" [(ngModel)]="ticket.type" (change)="updatePrices()" required>
        <option value="single">Single</option>
        <option value="couple">Couple</option>
        <option value="groupOf5">Group of 5</option>
      </select>
      
      <label for="pricePerType"><b>Price per Type</b></label>
      <input type="text" name="pricePerType" [value]="pricePerType" readonly required>
      
      <label for="numTickets"><b>Number of Tickets</b></label>
      <input type="number" placeholder="Enter Number of Tickets" name="numberOfTickets" [(ngModel)]="ticket.numberOfTickets" (input)="updateTotalPrice()" required>
      
      <label for="totalPrice"><b>Total Price</b></label>
      <input type="text" name="totalPrice" [value]="totalPrice" readonly required>

      <button type="submit" class="btn">Confirm Purchase</button>
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </form>
  </div>
</main>