<div class="sidebar">
    <p><i class="fa-solid fa-user"></i>ManagerName</p>
    <hr><hr>
    <ul>
        <li><i class="fa-solid fa-house"></i><a (click)="onSelectSection('home')">Home</a></li>
        <br><hr>
        <li><i class="fa-solid fa-file-pen"></i><a (click)="onSelectSection('bookings')">All Bookings</a></li>
        <br><hr>
        <li><i class="fa-solid fa-ticket"></i><a (click)="onSelectSection('tickets')">Tickets Management</a></li>
        <br><hr>
        <li><i class="fa-solid fa-users"></i><a (click)="onSelectSection('users')">All Users</a></li>
        <br><hr>
        <li><i class="fa-solid fa-gear"></i><a (click)="onSelectSection('settings')">Settings</a></li>
        <br><hr>
    </ul>
    <p><i class="fa-solid fa-right-from-bracket"></i><a href="/landing"><span>Log Out</span></a></p>
</div>
