<main>
    <h1>All Bookings</h1>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p> <!-- Display success message -->
    <table *ngIf="userTickets.length > 0; else noTickets">
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Ticket Type</th>
            <th>Number of Tickets</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let ticket of userTickets">
            <td>{{ ticket.eventName }}</td>
            <td>{{ ticket.eventLocation }}</td>
            <td>{{ ticket.eventDate | date }}</td>
            <td>{{ ticket.type }}</td>
            <td>{{ ticket.numberOfTickets }}</td>
            <td>{{ ticket.price }}</td>
            <td>{{ ticket.status }}</td>
            <td>
                <button (click)="cancelPurchase(ticket.ticketId)">Cancel Purchase</button>
            </td>
        </tr>
    </table>
    <ng-template #noTickets>
        <p>You have no bookings.</p>
    </ng-template>
</main>
