<main>
    <h1>All Bookings</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Ticket Type</th>
            <th>Number of Tickets</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Mic Cheque Meet n Greet</td>
            <td>Uhuru Park</td>
            <td>12th July 2024</td>
            <td>9.00am till Midnight</td>
            <td>Couple</td>
            <td>2</td>
            <td>Pending</td>
            <td>
                <button>Cancel Purchase</button>
            </td>
        </tr>
        <tr>
            <td>Music Concert</td>
            <td>Uhuru Park</td>
            <td>20th July 2024</td>
            <p>6.00pm till Late</p>
            <td>Group of 5</td>
            <td>2</td>
            <td>Pending</td>
            <td>
                <button>Cancel Purchase</button>
            </td>
        </tr>
    </table>
</main>
