<main>
    <input type="search" placeholder="Search" [(ngModel)]="searchTerm" (input)="searchEvents()">
    <h1>Categories</h1>
    <div class="categories">
      <div class="category-box">
        <i class="fa-solid fa-champagne-glasses"></i>
        <p>Party</p>
      </div>
      <div class="category-box">
        <i class="fa-solid fa-microphone"></i>
        <p>Podcast</p>
      </div>
      <div class="category-box">
        <i class="fa-solid fa-palette"></i>
        <p>Arts & Art Gallery</p>
      </div>
      <div class="category-box">
        <i class="fa-solid fa-trophy"></i>
        <p>Competitions</p>
      </div>
      <div class="category-box">
        <i class="fa-solid fa-clapperboard"></i>
        <p>Cinema</p>
      </div>
      <div class="category-box">
        <i class="fa-solid fa-music"></i>
        <p>Music Concerts</p>
      </div>
    </div>
    <div class="all-events">
      <h1>All Events</h1>
      <div class="events-list">
        <div *ngFor="let event of filteredEvents" class="event-card">
          <img [src]="event.image" alt="Event Image" class="event-image">
          <div class="event-details">
            <h3>{{ event.eventName }}</h3>
            <p>Date: {{ event.eventDate | date }}</p>
            <p>Time: {{ event.eventTime }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Description: {{ event.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  