<main>
    <h1>All Bookings</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>All Bookings</th>
            <th>Ticket Status</th>
            <th>Revenue Generated</th>
        </tr>
        <tr>
            <td>Music Concert</td>
            <td>Uhuru Park</td>
            <td>20th July 2024</td>
            <td>6.00pm till Late</td>
            <td>128</td>
            <td>Sold Out</td>
            <td>$1200</td>
        </tr>
        <tr>
            <td>Art Gallery Event</td>
            <td>Nairobi Gallery</td>
            <td>22nd July 2024</td>
            <td>11.00am-3.00pm</td>
            <td>127</td>
            <td>3 Remaining</td>
            <td>$1500</td>
        </tr>
    </table>
    
</main>
