<div class="sidebar">
    <p><i class="fa-solid fa-user"></i>AdminName</p>
    <hr><hr>
    <ul>
        <li><i class="fa-regular fa-calendar-days"></i><a (click)="onSelectSection('events')">All Events</a></li>
        <br><hr>
        <li><i class="fa-solid fa-file-pen"></i><a (click)="onSelectSection('bookings')">All Bookings</a></li>
        <br><hr>
        <li><i class="fa-solid fa-users"></i><a (click)="onSelectSection('users')">All Users</a></li>
        <br><hr>
        <li><i class="fa-solid fa-chart-pie"></i><a (click)="onSelectSection('analytics')">Analytics</a></li>
        <br><hr>
        <!-- <li><i class="fa-solid fa-gear"></i><a (click)="onSelectSection('settings')">Settings</a></li>
        <br><hr> -->
    </ul>
    <p><i class="fa-solid fa-right-from-bracket"></i><a href="/landing"><span>Log Out</span></a></p>
</div>

